#navbar {
  padding: 1rem;
  position: fixed;
  top: 0;
  max-width: 1200px;
  margin: auto;
  width: 100%;
  z-index: 100;
  background: $primary-color;
  #navbar_3 {
    display: none;
    #bars {
      cursor: pointer;
    }
  }
  .container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
  }
  a {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
