#whoarewe_sect2 {
  background: $light-grey;
  position: relative;
  padding: 5rem;
  padding-top: 3rem;
  color: $primary-color;
  border-radius: 0 0 4rem 4rem;
  text-align: center;
  h2 {
    margin-bottom: 2rem;
  }
}
