// Containers

.container {
  max-width: 1200px;
}

// Text

h1 {
  font-size: 3rem;
  line-height: 3.4rem;
}

h2 {
  font-size: 2rem;
}

.accent_span {
  color: $primary-color;
}

// Buttons

.btn {
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  position: relative;
  cursor: pointer;
  transition-duration: 500ms;
  font-weight: bold;
  white-space: nowrap;
  box-shadow: 0 1.4px 2.2px rgba(0, 0, 0, 0.036),
    0 3.3px 5.3px rgba(0, 0, 0, 0.049), 0 6.3px 10px rgba(0, 0, 0, 0.054),
    0 11.2px 17.9px rgba(0, 0, 0, 0.055), 0 20.9px 33.4px rgba(0, 0, 0, 0.057),
    0 50px 80px rgba(0, 0, 0, 0.07);
}

.btn_primary {
  color: #fff;
  background-color: $primary-color;
  &:hover,
  &:focus {
    color: $primary-color;
    background: #fff;
  }
}
.btn_dark {
  background: #000;
  color: #fff;
  &:hover,
  &:focus {
    color: #000;
    background: #fff;
  }
}
.btn_blue_to_black {
  color: #fff;
  background: $primary-color;
  &:hover,
  &:focus {
    color: #fff;
    background: #000;
  }
}
.btn_white_to_black {
  background: #fff;
  color: $primary-color;
  &:hover,
  &:focus {
    color: #fff;
    background: #000;
  }
}

// Links

.link1 {
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  transition-duration: 500ms;
  border-radius: 10px;
  white-space: nowrap;
  &:hover,
  &:focus {
    color: $primary-color;
    background: #fff;
  }
  &:hover {
    cursor: pointer;
  }
}

.link2 {
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  color: $primary-color;
  font-size: 1.2rem;
  transition-duration: 500ms;
  border-radius: 10px;
  white-space: nowrap;
  &:hover,
  &:focus {
    color: $light-grey;
    background: $primary-color;
  }
}

// Card

.card {
  border: 1px solid #ccc;
  background: #fff;
  color: #000;
  border-radius: 2rem;
  box-shadow: 0 1.4px 2.2px rgba(0, 0, 0, 0.036),
    0 3.3px 5.3px rgba(0, 0, 0, 0.049), 0 6.3px 10px rgba(0, 0, 0, 0.054),
    0 11.2px 17.9px rgba(0, 0, 0, 0.055), 0 20.9px 33.4px rgba(0, 0, 0, 0.057),
    0 50px 80px rgba(0, 0, 0, 0.07);
}

// Text

.strong1 {
  font-weight: 900;
}
